@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@font-face { /* 폰트 파일 넣기*/
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  src: url(../font/Oswald-Regular.woff) format("woff");
  src: url(../font/Oswald-Regular.ttf) format("truetype");}

body { font-family: "Oswald", sans-serif; color: #96220d;}
section:after, 
ul:after{ display: block; content: ""; clear: both; }/* 가상의 공간 적용*/

/* 레이아웃 */
header { background: #47130a;
position: fixed; left: 0; top: 0; 
width: 15%; height: 100%;}
#util{ background: #e2e1a1; position: relative; 
width: 85%; height: 35px; margin-left: 15%;}
section { width: 85%; margin-left: 15%;/*기본길이*/}

article { float: left; /*가로로정렬 이럴때 이게나음*/
  height: 260px; /*고정*/ width: 20%; }
.article1 { width: 60%; height: 520px;}
.article2 { width: 40%;}
.article3 { background: #85e1e7;}
.article6 { width: 40%; background: #c7b8b8;}
.article9 { width: 40%; background: #777;}
.article11 { background: #6ee0be;}



/* header */
header h1{ 
  position: absolute; top: 10vh; left: 50%; transform: translate(-50%);
  width: calc(3vw + 130px); height: calc(3vh + 80px); 
background: url('../img/logo1.png') center / contain  no-repeat; /* contain 짤림방지*/
text-indent: -99999px;
}
  .gnb { position: absolute; top: 40vh; right:50%; 
    transform: translate(50%);}
  .gnb li { padding: 5px 0; /*위아래여백*/}
  .gnb a { font-size: 15px; }
  .gnb i { margin-right: 8px; transition: 0.3s;}
  .gnb a:hover {  color: rosybrown;}

  .sns { position: absolute; bottom: 30px; right: 50%; transform: translate(50%);}
  .sns .text { text-align: center; }
  .sns .text:hover {  color: rosybrown;} 
  .sns .text a + a:before { display: inline-block; content: "";
  width: 1px; height: 10px; margin: 0 6px 0 5px; 
  background: #ddd;}

/* section */
article > div {position: relative;
width: 100%; height: 100%; overflow: hidden; cursor: pointer;}

.bg { background: center / cover }
.bg1 { background-image: url(../img/pic1.jpg);}
.bg4 { background-image: url(../img/pic2.jpg);}
.bg5 { background-image: url(../img/pic3.jpg);}
.bg7 { background-image: url(../img/pic4.jpg);}
.bg9 { background-image: url(../img/pic5.jpg);}
.bg10 { background-image: url(../img/pic6.jpg);}
.bg12 { background-image: url(../img/pic7.jpg);}

.bg span { position: absolute; bottom: 20px; right: 20px;
  font-size: 60px; color:#e5d9c2; opacity: 0; 
  transform: scale(10); transition:.5s ease-in; }
.bg:hover span {transform: scale(1); opacity: 1;}

.bg1 span { font-size: 100px; bottom:-10px; right: 20px;
  transform: scale(1); opacity: 1;}
.bg1 span:hover { transform: rotateY(180deg); opacity: 0.5; }  

.txt { padding: 40px 30px; transition: .5s ease-in; }
.txt strong{ display: block; font-size: 30px; margin-bottom: 6px; }
.txt em{ font-size: 14px; font-style: italic; }

.txt i { position: absolute; bottom: -50px; right: 0; 
  font-size: 240px; color: rgba(218, 212, 212, 0.5); 
  transition: .5s ease-out;
  transform: translateX(200px);
  opacity: 0;}

.article3 i, .article5 i, .article11 i { transform: translate(0); }
.article3 i { font-size: 150px; bottom: 10px; right: 20px; }
.article8 i { font-size: 220px; bottom: -30px; right: -50px;}
.article11 i { font-size: 150px; bottom: 10px; right: 20px;}

article .txt:hover { background:#444; }
article .txt:hover i { transform: translateX(0); opacity: 1;}

  /* nav util*/  
#util a { color: #6b6565; line-height: 35px;
  font-family: "Tangerine", cursive; font-size: 16px;
  margin: 0 10px;
  }

#util a:hover { color: #47130a;}

#util > * { position: absolute; } 
#util .left { left: 20px;}
#util .right {right: 20px;}
#util i { font-size: 10px;}

/* ----------------------------------------------- 반응형 부분 */
@media (max-width:1600px){
  /* 좌측 header 위로*/
header {position: relative; width: 100%; height: 80px;}
#util{ width: 100%; margin-left: 0;}
section { width: 100%; margin-left: 0%;}

header h1{ top: 15px; left: 20px; transform: none;
width: 200px; height: 50px; 
background: url('../img/logo2.png') center / contain  no-repeat; 
}

.gnb { top: 30px; right: 200px;; transform: none;}
.gnb li { float: left; padding: 0 15px;}

.sns { bottom: 15px; right: 20px;transform: none;}
}


@media (max-width:1200px){ /* section 4등분*/
  

  .gnb { right: 160px;}
  .gnb li { padding: 0 12px;}
  .gnb a { font-size: 15px; }

article{ width: 25%;}
.article1 { width: 75%;}
.article2 { width: 25%;}
.article6 { width: 50%; }
.article7 { width: 50%;}
.article9 { width: 25%; }
.article10 { width: 50%; }


}

@media (max-width:1024px){/* section 3등분*/


  .gnb{right: 20px;}
  .gnb li { padding: 0 10px;}

  .sns {display: none;}

article{ width: 33.33%;}
.article1 { width: 100%; }
.article2 { width: 66.66%;}
.article3 { display: none;}
.article6 { width: 66.66%; }
.article7 { display: none;}
.article9 { width: 33.33%; }
.article10 { display: none;}
.article12 { display: none;}
}

@media (max-width:800px){/* section 3등분-1*/
header h1{ top: 22px; width: 170px; height: 34px;
}
.gnb li { padding: 0 6px;}
.gnb a { font-size: 15px; }
.gnb i { margin-right: 4px; }

}


@media (max-width:640px){/* section 2등분*/

  header { height: 130px; }
  header h1 {width: 200px; height: 40px;
  top: 22px; left: 50%; transform: translate(-50%);}

  .gnb {top: 95px; right: 0; width: 100%; text-align: center;}
  .gnb ul { display: inline-block; }

  #util { display: none;}

  article{ width: 50%;}
.article1 { height: 300px; }
.article2 { width: 100%;}
.article4 { display: none;}
.article6 { width: 50%; }
.article9 { width: 50%; }
.article12 { display: block;}
.bg1 span { font-size: 100px; bottom: -5px; right: 20px;}

}

@media (max-width:500px){/* 작은 모바일*/
header { position: fixed; height: 100%; z-index: 100; 
background: url(../img/pic1.jpg)center / contain  no-repeat;}
header h1 { background-image: url(../img/logo1.png);
top: 22px;right: 50%;  
width: calc(5vw + 150px); height: calc(5vw + 100px);
transform: translate(-50%);}

.gnb { top: 30vh; width: 100%; text-align: center;}
.gnb li { float: none; color: #856d6d; padding: 3px 0;}
.gnb li a { display: block;  width: 60vw;
font-size: 20px;
background: rgba(0,0,0,0.5); color: #aaa;
line-height: 40px; border-radius: 999px;}  
.gnb li a:hover { background: rgba(0,0,0,0.8); transform: scale(1.1);}

  article, .article12{ display: none; }
  .article1 { display: block; position: fixed; width: 100%; height: 100%;}
  
}